.sidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 18%;
    background-color: #181818;
    right: -100%;
    top: 0;
    z-index: 200;
    
}
.logoJ{
    width: 40px;
    height: 60px;
    margin-top: 10px;
}

.sidebarHeader{
    
    display: flex;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px;
    
}
.logo{
    margin: 0;
    color: white;
}
.cross{
    color: #E07A5F;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}
.sidebar > ul {
    display: flex;
    height: auto;
    padding-bottom: 20px;
    padding-top: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.sidebar > ul > li {
   list-style-type: none;
    margin-right: 15px;
}

.sidebar > ul > li> a:hover, 
.sidebar > ul > li> a:active {
    color: white;
    text-decoration: none;

}
.sidebar > ul > li > a {
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar > ul > li > a > span{
    font-size: 11px;
    opacity: 0;
    margin-top: 20px;
    transition: 0.6s opacity;
}
.sidebar > ul > li > a:hover > span {
    opacity: 1;
}
.sidebar > ul > li > a:hover {
    color: #E07A5F;
}

.imgHolder{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoJ{
    width: 65%;
    height: 65%;
}